body {
    margin: 0;
    font-family: Monserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #062489;
    color: #FFFFFF;
}

code {
    font-family: Monserrat, sans-serif;
}

.mintDiv {
    /*max-width: 300px;*/
    margin: auto;
    max-width: 356px;
    text-align: center;
    width: 75%;
    border-radius: 25px;
    background-color: rgba(100, 100, 255, 0.1);

}

.menubutton {
    font-family: Monserrat, sans-serif;
    font-size: 15px;
}

.NFT {
    border-radius: 10px;
    max-width: 256px;
    width: 50%;
    image-rendering: pixelated;
}

.space-90 {
    height: 90px;
}

.space-30 {
    height: 30px;
}

.space-10 {
    height: 10px;
}

.walletDiv {
    text-align: end;
    margin: 25px;
    font-family: Monserrat, sans-serif;
}

.footerDiv {
    text-align: center;
}


.topnav {
    overflow: hidden;
    background-color: rgba(18, 51, 176, 0.47);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Monserrat, sans-serif;
}

.topnav a:hover {
    background: pink;
    /*background: -webkit-linear-gradient(right, #ffffff,#fa768d,#f78ca0);*/
    color: black;

}

.topnav a.active {
    background-color: #041150;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 975px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 975px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
