body {
    margin: 0;
    font-family: Monserrat,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #062489;
    color: #FFFFFF;
}

code {
    font-family:  Monserrat,sans-serif;
}

.mintDiv {
    /*max-width: 300px;*/
    margin: auto;
    max-width: 356px;
    text-align: center;
    width: 75%;
    border-radius: 25px;
    background-color: rgba(100, 100, 255, 0.1);

}

.NFT {
    border-radius: 10px;
    max-width: 256px;
    width: 50%;
    image-rendering: pixelated;
}

.space-90 {
    height: 90px;
}

.space-30 {
    height: 30px;
}

.space-10 {
    height: 10px;
}

.walletDiv {
    text-align: end;
    margin: 25px;
    font-family: Monserrat, sans-serif;
}

.footerDiv{
    text-align: center;
}